/* =============
    Footer
============= */
footer{
    background-color: var(--yellow);
    padding: 0 16px 24px;
    text-align: center;
    margin-top: 60px;

    @include lg{
        padding-bottom: 44px;
    }

    @include xl{
        margin-top: 100px;
    }


    h1{
        font-size: rem-calc(20);
        span{
            color: white;
        }

        @include md{
            font-size: rem-calc(26);
        }
    }

    ul{
        display: flex;
        justify-content: center;
        margin-top: 16px;
        li{
            margin: 0 10px;

            a:link, a:visited{
                color: black;
                font-size: rem-calc(20);
                transition: 0.25s;

                &:hover, &:active{
                    color: white;
                }

                @include md{
                    font-size: rem-calc(24);
                }
            }
        }
    }
}