/* =============
    Gallery
============= */
#gallery{
    scroll-margin-top: 70px;
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". gallery .";

    @include md{
        scroll-margin-top: 100px;
    }

    @include xxl{
        grid-template-columns: auto 1440px auto;
    }
    
    >div{
        grid-area: gallery;
        ul{
            display: grid;
            gap: 20px;
            grid-template-rows: 40vh 80vh 40vh 40vh;
            grid-template-areas: 
            "g7"
            "g1"
            "g6"
            "g3";

            @include md{
                grid-template-columns: 50% auto;
                grid-template-rows: repeat(3, 30vh);

                grid-template-areas: 
                "g1 g3"
                "g1 g7"
                "g5 g6";

            }

            @include xl{
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(3, 30vh);

                grid-template-areas: 
                "g1 g2 g3"
                "g1 g7 g4 "
                "g6 g5 g4";

            }

            li{
                height: 100%;
                background-size: cover;
                background-position: center;
            }

            #g1{
                grid-area: g1;
                background-image: url("../img/gallery/gallery-1.jpg");
            }

            #g2{
                display: none;
                @include xl{
                    grid-area: g2;
                    display: list-item;
                    background-image: url("../img/gallery/gallery-2.jpg");
                }
                
            }

            #g3{
                grid-area: g3;
                background-image: url("../img/gallery/gallery-3.jpg");
            }

            #g4{
                display: none;
                @include xl{
                    grid-area: g4;
                    display: list-item;
                    background-image: url("../img/gallery/gallery-4.jpg");
                }
            }

            #g5{
                display: none;

                @include md{
                    grid-area: g5;
                    display: list-item;
                    background-image: url("../img/gallery/gallery-5.jpg");
                }
            }

            #g6{
                grid-area: g6;
                background-image: url("../img/gallery/gallery-6.jpg");
            }

            #g7{
                grid-area: g7;
                display: flex;
                justify-content: center;
                align-items: center;
            
                h1{
                    font-family: 'Pacifico', cursive;
                    color: var(--yellow);
                    font-size: rem-calc(43);
                    font-weight: 400;

                    @include md{
                        font-size: rem-calc(46);
                    }
                }
            }
        }
    }
}