/* =============
    Hero 2
============= */

#hero-2{
    background-image: url("../img/hero-2/hero.jpg");
    background-size: cover;
    background-position: 70% bottom;
    height: 65vh;

    @include md{
        height: 70vh;
        background-position: 90% bottom;
    }

    @include lg{
        height: 80vh;
        background-position: center;
    }

    @include xxl{
        height: 100vh;
    }
}