/* =============
    History
============= */


#history {
    scroll-margin-top: 70px;
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". history .";

    @include md{
        scroll-margin-top: 100px;
    }

    @include xl{
        grid-template-columns: auto 1000px auto;
    }

    >div{
        grid-area: history;

        #history-top{
            aside{
                display: flex;
                justify-content: center;
                margin-bottom: 40px;
                div{
                    background-image: url("../img/history/history.jpg");
                    background-size: cover;
                    background-position: center;
                    width: 50%;
                    padding-bottom: 50%;
                    border-radius: 100%;

                    @include md{
                        width: 20%;
                        padding-bottom: 20%;
                    }
                }
            }

            h1{
                font-family: 'Comfortaa', cursive;
                color: var(--yellow);
                font-size: rem-calc(48);
                text-align: center;
    
                @include md{
                    font-size: rem-calc(55);
                }
    
                @include xl{
                    font-size: rem-calc(66);
                }
    
                span{
                    font-size: rem-calc(31);
    
                    @include md{
                        display: block;
                        font-size: rem-calc(42);
                    }
    
                    @include xl{
                        font-size: rem-calc(54);
                    }
                }
            }
        }

        #history-bottom{
            article{

                h3{
                    font-weight: 400;
                    font-size: rem-calc(17);
                    margin: 34px 0 24px;
                    text-align: center;

                    @include md{
                        font-size: rem-calc(18);
                        margin: 65px 0 34px;
                    }
                }

                p{
                    font-weight: 600;
                    font-size: rem-calc(18);
                    line-height: 22px;
                    text-align: justify;

                    @include md{
                        line-height: 26px;
                    }
                }
            }

            #history-sub-content{
                margin-top: 80px;
                font-size: rem-calc(16);

                @include md{
                    margin-top: 100px;
                    padding: 0 10vw;
                }

                @include xl{
                    padding: 0 8vw;
                }

                p{
                    font-weight: 400;
                     
                    span{
                        font-weight: 700;
                    }
                }
            }
        }
    }
}