/* =============
    Skills
============= */

#skills{
    scroll-margin-top: 70px;

    @include md{
        scroll-margin-top: 100px;
    }

    @include xl{
        display: grid;
        grid-template-columns: 40% auto;
    }

    #skill-hero{
        background-image: url("../img/skills/robot.jpg");
        background-size: cover;
        background-position: center;
        height: 60vh;

        @include xl{
            background-position: 80% center;
        }
    }

    #skill-bottom{
        background-color: var(--charcoal);
        color: white;
        display: grid;
        grid-template-columns: 16px auto 16px;
        grid-template-areas: ". skills .";
        padding: 60px 0 40px;

        @include md{
            grid-template-columns: 15vw auto 15vw;
        }

        @include xl{
            grid-template-columns: 100px 30vw 15vw;
        }

        @include xxl{
            grid-template-columns: 100px 25vw 15vw;
        }

        #skills-flex{
            grid-area: skills;
            display: flex;
            align-items: center;

            h1{
                font-family: 'Comfortaa', cursive;
                font-size: rem-calc(21);
                margin-bottom: 5px;

                @include xl{
                    font-size: rem-calc(35);
                }
            }

            p{
                line-height: 22px;

                @include xl{
                    font-size: rem-calc(25);
                    line-height: 30px;
                }
            }

            #skill-bars{
                margin-top: 40px;

                .skill-bars-top{
                    display: flex;
                    margin-top: 50px;

                    h4{
                        font-weight: 400;
                    }

                    h5{
                        margin-left: auto;
                    }
                }

                .bar-bg{
                    background-color: black;
                    height: 10px;
                    width: 100%;
                    margin-top: 8px;

                    .yellow-bar{
                        background-color: var(--yellow);
                        height: 100%;
                    }

                    #yellow-emotion{
                        width: 62%;
                    }

                    #yellow-learning{
                        width: 90%;
                    }

                    #yellow-math{
                        width: 95%;
                    }
                }
            }
        }

        
    }
}