#reviews{
    display: flex;
    justify-content: space-between;
    aside{
        display: flex;
        flex-direction: row;
        align-items: first baseline;
        gap: 10px;
        
        h1{
            font-size: 32px ;
        }
        p{
            font-size: 12px;
           
        }
    }
    
    a{
        padding: 5px 10px;
        border: 1px solid var(--purple);
       
    }
}
#stars{
    display: flex;
}