#product-hero{
    padding: 0 16px;
#top{
padding-top: 100px;
padding-bottom: 20px;


h1{
    display: grid;
    justify-content: left;
    font-size: 36px;
    @include lg{
        font-size: 48px;
    }
}
h2{
    font-size: 20px;
    padding-bottom: 10px;
    @include lg{
        font-size: 36px;
        padding-bottom: 30px;
    }
}
}
#package{
   
    @include lg{
        display: flex;
        justify-content: center;
        display: grid;
        grid-template-columns: 50% auto;
        #hero-vacuum{
            img{
            margin: 0px -100px;
            }
        }
    }
    }
h2{
    font-size: 32px;
    display: flex;
    justify-content: center;
}
h6{
    font-size: 15px;
    display: flex;
    justify-content: center;
    margin: 6px;
    text-decoration: underline;
    font-weight: 400;
}
button{
    font-size: 20px;
}
div{
    h4{
        font-size: 20px;
        font-weight: 400;
    }
}
}

#details{
    h1{
        font-size: 15px;
    }
}
