/* =============
    Footer
============= */
footer{
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". footer .";
    background-color: #293241;
    color: white;
    padding: 24px 0;

    @include xxl{
        grid-template-columns: auto 1200px auto;
    }

    >div{
        grid-area: footer;

        @include md{
            display: grid;
            grid-template-columns: 50% auto;
            grid-template-areas: 
            "f1 f2"
            "f1 f3";
            gap: 16px;
        }

        @include lg{
            grid-template-columns: repeat(3, 1fr);
            grid-template-areas: 
            "f1 f2 f3";
        }

        #f1{
            color: var(--blueInput);
            @include md{
                grid-area: f1;
            }

            h1{
                color: white;
                font-size: rem-calc(20);
                font-weight: 600;
                margin-bottom: 16px;
            }

            h2{
                font-size: rem-calc(16);
                font-weight: 600;
                margin-bottom: 8px;
            }

            .divide-line{
                height: 1px;
                background-color: white;
                width: 100%;
                margin: 16px 0;
            }

            // li{
            //     padding-bottom: 16px;
            //     border-bottom: 1px solid white;
            // }

            // li:last-child{
            //     border: none;
            // }

            section{
                display: flex;

                i{
                    color: var(--red);
                    font-size: rem-calc(20);
                    margin-right: 16px;
                }

            }

            a:link, a:visited{
                color: var(--blueInput);
                &:hover, &:active{
                    color: var(--white);
                }
            }
        }   

        #f2{
            @include md{
                grid-area: f2;
            }

            h1{
                color: white;
                font-size: rem-calc(20);
                font-weight: 600;
                margin-top: 32px;
                margin-bottom: 16px;

                @include md{
                    margin-top: 0;
                }
            }

            form{
                input{
                    background-color: var(--gray);
                    width: 100%;
                    border-radius: 0;
                    border: none;
                    box-sizing: border-box;
                    padding: 16px 8px;
                }

                div{
                    text-align: right;
                    button{
                        margin-top: 16px;
                        border: none;
                    }
                }

               
            }
        } 

        #f3{
            
            @include md{
                grid-area: f3;
            }

            @include lg{
                text-align: right;
            }

            h1{
                color: white;
                font-size: rem-calc(20);
                font-weight: 600;
                margin-top: 32px;
                margin-bottom: 16px;

                @include md{
                    margin-top: 0;
                }
            }

            ul{
                display: flex;
                @include lg{
                    justify-content: flex-end;

                }
                li{
                    margin-right: 16px;

                    @include xl{
                        margin: 0 0 0 16px;
                    }

                    a:link, a:visited{
                        color: white;
                        font-size: rem-calc(30);
                        transition: 0.25s;

                        &:hover, &:active{
                            color: var(--blueInput);
                        }
                    }
                }
            }
        } 
    }
}



