#bottom {
  @include lg {
    display: grid;
    grid-template-columns: 50% auto;
   

}

  h1 {
    font-size: 100px;
    display: flex;
    justify-content: center;
    font-weight: 600;
    padding-left: 16px;
  }


  .thank-img-card {
    background-size: cover;
    background-position: 20% center;
    height: 25vh;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    button {
      font-size: 20px;
      background-color: var(--purple);
      padding: 16px 100px;
      margin-bottom: -30px;
      color: var(--white);
    }
  }


  #vacuums {
    background-image: url("../img/thankyou/vacuums.png");
  }


  #hair-products {
    background-image: url("../img/thankyou/hair-products.png");

  }

}