#thankyou-page {
    // padding: 32px 16px 0px 16px;
margin-top: 120px;
padding: 0px 16px;

        @include lg {
            display: grid;
            grid-template-columns: 50% auto;
           
        
    }


    #thankyou {
        margin-top: 100px;
        text-align: center;
        @include lg{
            border: 3px solid black;
            margin: 30px 25px 30px 50px;
            padding-top: 120px;
            h1{
                padding-bottom: 20px;
            }
            h3{
                padding-bottom: 45px;
            }
            
        }

        h1 {
            font-size: 64px;
            color: navy;
        }

        h3 {
            font-size: 20px;
            color: var(--purple);
            font-weight: 400;


        }
        


        #info {
            padding-top: 20px;
            margin: 20px 50px;
            border: 3px solid black;
            text-align: center;
            @include lg{
                border: none;
                border-top: 3px solid black;
                h1{
                    font-size: 32px;
                }
                
            }

            h2 {
                font-size: 24px;
                color: orange;
                font-weight: 600;
                padding-bottom: 12px;
            }

            p {
                padding-top: 8px;
                font-size: 20px;
                font-weight: 400;
                padding-bottom: 12px;
            }

            h1 {
                padding-top: 10px;
                font-size: 15px;
                font-weight: 600;
                padding-bottom: 25px;
            }

        }
    }

    #tracking {
        @include lg{
            border: 3px solid black;
            margin: 30px 50px 30px 25px;
            padding: 0 30px;
           
            
        }
       
            
        img {
            width: 100%;
            border: 3px solid var(--orange);
            
        }

        div {
            border: 3px solid var(--blue);
            padding: 20px 16px;
            margin-top: 30px;
            margin-bottom: 30px;
            @include lg{
                border: none;
                
            }
            h1 {

                padding-bottom: 16px;
                font-size: 20px;
                display: flex;
                justify-content: left;
                font-weight: 600;
            }
        }



        #order-details {
            padding: 20px 16px;
            @include lg{
                border-top: 3px solid black;
                padding: 20px 0;
            }

            h2 {

                font-size: 20px;
                padding-bottom: 6px;
            }

            p {
                padding-top: 6px;
            }
        }
    }

    // @include lg {
    //     #thankyou {
    //         display: grid;
    //         grid-template-columns: 50% auto;
    //         grid-template-rows: repeat(2, 20vh);

    //         #info {
    //             display: grid;
    //             grid-template-columns: 50% auto;
    //             grid-template-rows: repeat(2, 20vh);
    //         }
    //     }
    // }
}