section{
    h1{
        font-size: 24px;
        display: flex;
        justify-content: center;
        font-weight: 600;
        padding-bottom: 20px;
        }

   
    #vacuums{
        img{
            width: 100%;
        }
        a{
        font-size: 20px;
        background-color: var(--purple);
        padding: 16px 8px;
        display: flex;
        justify-content: center;
        width: 50%;
        margin: 12px;
        margin-left: 25%;
        color: var(--white);
        text-decoration: none;
      }
       } 

       #hair-products{
        padding-top: 36px;
        img{
          width: 100%;
      }
      a{
      font-size: 20px;
      background-color: var(--purple);
      padding: 16px 8px;
      display: flex;
      justify-content: center;
      width: 50%;
      margin-top: 6px;
      margin-left: 25%;
      color: var(--white);
      text-decoration: none;
      border-color: aqua;
    }
       }
}
