/* =============
    Footer
============= */
footer{
    padding: 0 16px 24px;
    text-align: center;
    margin-top: 60px;
a{
    padding-top: 6px;
}
    #socials{
        h1{
            font-size: 64px;
        }

        ul{
        display: flex;
        justify-content: center;
        margin-top: 16px;
        li{
        margin: 0 10px;
            }
        }
    }
}