#div1{
    
    
}
#checkout-pay{
   
    margin: 0px 16px;
    @include lg {
        display: grid;
        grid-template-columns: 50% auto;}
#payment{
    ul{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        margin: 10px 0px;
        li{
            width: 100%;
            border: 1px solid black;
            display: flex;
                justify-content: center;
               
            button{
               
                    .i3{
                        width: 100px;
                        
                    }
                
                img{
                    width: 80px;
            
                }
            }
          
        }
    }

    #card-number{
        

        form{
            display: grid;
            grid-template-columns: repeat(10,1fr);
            grid-template-areas: 
            "p4 p4 p4 p4 p4 p4 p4 p4 p4 p4"
            "p5 p5 p5 p5 p5 p6 p6 p7 p7 p7";
            gap: 10px;


            #p4 {
                grid-area: p4;
            }
            #p5 {
                grid-area: p5;
            }
            #p6 {
                grid-area: p6;
            }
            #p7 {
                grid-area: p7;
            }
        }
    }
    
   
    h1{
        display: flex;
        justify-content: left;
        font-size: 20px;
    }
   

#shipping{
    h1{
        display: flex;
        justify-content: left;
        font-size: 20px;
    }
  #name{

    form{
        display: grid;
        grid-template-columns: repeat(10,1fr);
        grid-template-areas: 
        "n1 n1 n1 n1 n1 n2 n2 n2 n2 n2"
        "n3 n3 n3 n3 n3 n3 n3 n3 n3 n3"
        "n4 n4 n4 n4 n4 n5 n5 n6 n6 n6";
        gap: 10px;


        #n1 {
            grid-area: n1;
        }
        #n2 {
            grid-area: n2;
        }
        #n3 {
            grid-area: n3;
        }
        #n4 {
            grid-area: n4;
        }
        #n5 {
            grid-area: n5;
        }
        #n6 {
            grid-area: n6;
        }
       
    }
  }
    }


#delivery{
   img{
        display: flex;
        justify-content: left;
                }
            }

#cost{
    margin-top: 20px;
    h1{
        border-bottom: 2px solid black;
        display: flex;
        justify-content: center;
      
    }
    div{
       
        a{
            padding: 10px 20px;
        }
    }
    

}
}
}



