#checkout-pay{
    margin: 0px 16px;
    @include lg {
        display: grid;
        grid-template-columns: 50% auto;}
#payment{
    // display: grid;
    // grid-template-columns: 16px auto 16px;
    // grid-template-areas: ". payment .";


    // grid-template-columns: repeat(1, 1fr);
    // grid-template-areas: 
    // "p1 . p2 . p3"
    // "p4"
    // "p5 . p6  . p7";

    #p1 {
            grid-area: p1;
    }
    #p2 {
            grid-area: p2;
    }
    #p3 {
        grid-area: p3;
    }
    #p4 {
        grid-area: p4;
    }
    #p5 {
        grid-area: p5;
    }
    #p6 {
        grid-area: p6;
    }
    #p7 {
        grid-area: p7;
    }
   
    h1{
        display: flex;
        justify-content: left;
        font-size: 20px;
    }
    ul{
        display: flex;
        justify-content: left;
        li{
            button{
                font-size: rem-calc(15);
                font-size: 30%;
                padding: 8px 40px;
            }
            margin: 0 10px;
            }
    }
    #card-number{
    form{
        padding-top: 10px;
            display: flex;
            input{
                width: 100%;
        }
    }
}
    #card-info{
        form{
            padding-top: 8px;
            input{
                width: 27.4%;
            }
        }
    }
    }

#shipping{
    h1{
        display: flex;
        justify-content: left;
        font-size: 20px;
    }
  
    }


#delivery{
   img{
        display: flex;
        justify-content: left;
                }
            }

#cost{
    margin-top: 20px;
    h1{
        border-bottom: 2px solid black;
        display: flex;
        justify-content: center;
      
    }
    @include lg{
        margin-top: -600px;
    }
    div{
       
        a{
            padding: 10px 20px;
        }
    }
    

}
}



